.aligner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonLeft {
    background-color: #e3171b !important;
    color: #f7f7f7 !important;
    font-weight: bolder !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    border-radius: 0 !important;
}

.buttonRight {
    background-color: transparent !important;
    color: #232323 !important;
    border: transparent !important;
    font-weight: bolder !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    border-radius: 0 !important;
}

.buttonRight:hover {
    background-color: unset !important;
    color: unset !important;
    font-weight: bolder !important;
}

.textOne {
    color: #232323;
}

.textTwo {
    color: #939393;
    text-align: center;
}

@media (max-width: 991.98px) {
    .cardPrincipal {
        margin-top: 8rem;
        max-width: 95% !important;
        height: 20rem;
        border: 1px solid var(--unnamed-color-dedede);
        border: 1px solid #dedede;
        border-radius: 20px;
        opacity: 1;
    }
    .imgMary {
        position: absolute;
        left: -50px;
        top: -32px;
        height: 20rem;
    }
}

/* Maior que tablet*/
@media (min-width: 991.99px) {
    .cardPrincipal {
        margin-top: 8rem;
        max-width: 50% !important;
        height: 25rem;
        border: 1px solid var(--unnamed-color-dedede);
        border: 1px solid #dedede;
        border-radius: 20px;
        opacity: 1;
    }
    .imgMary {
        position: absolute;
        left: -80px;
        top: -32px;
        height: 25rem;
    }
}
