.colOptions {
  padding-left: 0;
  margin-bottom: 1.5rem;
}

.textOptions {
  font-weight: bold;
  padding-right: 1.5rem;
}

.buttonAddCart {
  border: solid 1px var(--red-1) !important;
  color: #dedede !important;
  background-color: var(--red-1) !important;
  width: 100% !important;
  height: 5rem !important;
  border-radius: 0 !important;
  font-size: 1.5rem !important;
  font-weight: bold !important;
  white-space: nowrap;
}

.navItem {
  background: #e9e9e9;
  margin-right: 1rem;
  font-weight: bold;
}

.navContent {
  font-size: 1.5rem;
  line-height: 26px;
  color: #2b2b2b;
}
