.product_grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(215px, 1fr));
    grid-auto-rows: minmax(max-content, 420px);
    width: 100%;
}

.inputChecked {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 1rem !important;
    width: 1rem !important;
    border: 1px solid black;
    border-radius: 45%;
    transition: all 0.3s linear;
}

.inputChecked:checked {
    border-radius: 100%;
    padding: 0.5px;
    background-color: var(--dark-1);
}
.selected {
    position: absolute;
    left: 4rem;
    top: 1.8rem;
}
.empty {
    cursor: pointer !important;
    display: inline-block;
    width: calc(10 * 0.152rem);
    height: calc(10 * 0.152rem);
    border: solid 1px black;
    border-radius: 100%;
}
.checkmark {
    cursor: pointer !important;
    position: absolute;
    left: 0.152rem;
    top: 0.5rem;
    display: inline-block;
    width: calc(22 * 0.152rem);
    height: calc(22 * 0.152rem);
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.checkmark_stem {
    position: absolute;
    width: calc(3 * 0.152rem);
    height: calc(9 * 0.152rem);
    background-color: #e3171b;
    left: calc(11 * 0.152rem);
    top: calc(6 * 0.152rem);
}

.checkmark_kick {
    position: absolute;
    width: calc(3 * 0.152rem);
    height: calc(3 * 0.152rem);
    background-color: #e3171b;
    left: calc(8 * 0.152rem);
    top: calc(12 * 0.152rem);
}

/* De tablet pra baixo */
@media (max-width: 991.98px) {
    .showAllButton {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
}

/* Maior que tablet*/
@media (min-width: 991.99px) {
    .paddingSearch {
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 0;
        padding-left: 1.5rem;
    }
    .paddingButtonSearch {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 1.5rem;
    }
}
