.textValue {
  font-family: Roboto;
  font-size: 2.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.32;
  letter-spacing: normal;
  text-align: left;
  color: #2b2b2b;
  margin: 0 !important;
}

.textValue > span {
  color: #e3171b !important;
}

.textProgress {
  font-family: Roboto;
  font-size: 1.9rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.32;
  letter-spacing: normal;
  text-align: left;
  color: #2b2b2b;
  margin: 0 !important;
}
