.aligner {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.photoUpload {
    text-align: center;
    height: 15em;
}
.photoUpload > img {
    height: 17rem;
    width: 100%;
}

.buttonUpload {
    color: #aaaaaa !important;
    border: dashed 1px var(--gray-2) !important;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

@media (max-width: 767.98px) {
    .colUpload {
        height: 8em !important;
        width: 100%;
    }
    .photoUpload > img {
        height: 12rem;
        width: 100%;
    }
}
@media (min-width: 767.99px) and (max-width: 991.98px) {
    .colUpload {
        height: 8em !important;
        width: 100%;
    }
    .photoUpload > img {
        height: 12rem;
        width: 100%;
    }
}

.buttonUpload:hover {
    background-color: var(--gray-2);
    color: var(--red-1);
}

.colUpload {
    height: 16em;
    width: 100%;
}

.buttonImages {
    width: 100%;
    margin-top: 1rem;
    color: #232323;
    background-color: var(--gray-2);
    border: solid 1px #dedede;
    border-radius: 0;
    overflow: hidden;
}

.buttonImages:hover {
    background-color: var(--red-1);
}

.toaster {
    height: 100%;
    width: 100%;
    background-color: var(--gray-2);
    color: #232323;
}

.toast-header {
    font-size: 4em;
    color: #232323;
}

.toaster > .toast-header > strong {
    margin: auto;
}

.toast-body {
    text-align: center;
    font-size: 4em;
    height: 100%;
    padding-top: 4rem;
}

.photoGallery {
    margin-bottom: 1.5rem !important;
}

.photoGallery > div:first-child span {
    display: inline !important;
    font-weight: bolder;
}
