.count {
    border: 1px transparent solid !important;
    background-color: transparent !important;
    color: #232323 !important;
    font-size: 2rem !important;
    pointer-events: none;
}

.price {
    border: 1px transparent solid !important;
    background-color: transparent !important;
    color: var(--red-1) !important;
    font-size: 2rem !important;
    pointer-events: none;
}

.alignerAround {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
}

.total {
    border: 1px transparent solid !important;
    background-color: transparent !important;
    color: #232323 !important;
    font-size: 2rem !important;
    pointer-events: none;
    font-weight: bold;
}

.cardBody {
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 3rem !important;
    padding-left: 3rem !important;
    width: 100%;
}
