.cardText {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    color: #757575;
    align-items: center;
    justify-content: center;
}

.cardTextPrincipalAddress {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    color: green;
    align-items: center;
    justify-content: center;
}

.cardTextListAddress {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    color: red;
    align-items: center;
    justify-content: center;
}

.cardTextListAddress:hover {
    cursor: pointer;
    font-size: 1.6rem;
}

.circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 10px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.cardName {
    margin-bottom: 0.75rem;
    font-size: 1.5rem;
    color: #2b2b2b;
    font-weight: bold !important;
}

.alignerAround {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.cardBody {
    padding-top: 3rem !important;
    padding-left: 3rem !important;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
}

.buttonSave {
    border: solid 1px var(--red-1);
    color: var(--red-1);
    height: 5rem;
    border-radius: 0;
    font-size: 1.5rem;
    font-weight: bold;
    white-space: nowrap;
}

.buttonDelete {
    border: transparent;
    color: black;
    background-color: transparent;
    height: 5rem;
    border-radius: 0;
    font-size: 1.5rem;
    font-weight: bold;
    white-space: nowrap;
}

.principalAddress {
    cursor: default !important;
    pointer-events: none !important;
    background-color: transparent !important;
    color: var(--red-1) !important;
    border: 0 !important;
    height: 5rem;
    border-radius: 0;
    font-size: 1.5rem;
    font-weight: bold;
    white-space: nowrap;
}
