.cardText {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    color: #757575;
}

.cardName {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    color: #2b2b2b;
    font-weight: bold !important;
}

.alignerAround {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.cardBody {
    height: 100%;
    display: flex;
    padding-top: 3rem !important;
    padding-left: 3rem !important;
    width: 100%;
}
