.Spinner {
    width: 20rem;
    height: 20rem;
    color: var(--red-1) !important;
}

.containerSpinner {
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background-color: transparent;
    position: absolute;
    opacity: 0.5;
}
