:root {
    --red-1: #e3171b;
    --dark-2: #232323;
    --dark-1: #2b2b2b;
    --gray-1: #f7f7f7;
    --gray-2: #dedede;
    --gray-3: #757575;
    --gray-text: #aaaaaa;
    --white-1: #ffffff;
    --green: #05c787;
    --green-2: #05c787;
    --green-3: #00b762;
    --light-gray: rgba(117, 117, 117, 0.37);
}

button[type="button"] {
    min-width: max-content !important;
}

* {
    font-family: Roboto, serif !important;
}

img {
    object-fit: contain !important;
}

.MuiInputBase-root.MuiInput-root.MuiInput-underline::after {
    border: none !important;
}

#category {
    padding-left: 1.5rem !important;
}

#general h1 {
    font-family: Roboto, serif !important;
    font-size: 3rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.34;
    letter-spacing: normal;
    text-align: left;
    color: var(--red-1) !important;
}

#nav-tabs {
    border: none !important;
}

#nav-tabs .nav-link {
    border-top-left-radius: 16px !important;
    border-top-right-radius: 16px !important;
    background-color: var(--gray-2) !important;
    font-family: Roboto, serif;
    font-size: 1.25rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: var(--dark-1);
}

#nav-tabs .active.nav-link {
    background-color: var(--red-1) !important;
    color: white !important;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: ">" !important;
}

.btn-save {
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    font-weight: bold !important;
    font-stretch: normal !important;
    font-style: normal !important;
    font-size: 1.5rem;
    letter-spacing: normal !important;
    line-height: 1.32;
    color: white !important;
    background-color: var(--green-2) !important;
    font-family: Roboto;
    text-align: center;
}

.checked {
    height: calc(10rem * 0.39122);
}

.bg_green {
    background-color: var(--green-2) !important;
}

.text_gray-1 {
    color: var(--gray-3) !important;
}

.text_green {
    color: var(--green-3) !important;
}

.p-25 {
    padding: 25px;
}

.py-25 {
    padding-top: 25px !important;
    padding-bottom: 25px !important;
}

a:hover {
    text-decoration: none;
}

body {
    font-size: 14px !important;
    line-height: 1 !important;
    font-family: "Roboto", sans-serif;
}

#dashboard {
    flex: 1 !important;
}

.fix {
    font-size: 12px !important;
}

#ok {
    height: 10rem !important;
    margin-bottom: 5rem !important;
}

a:link {
    text-decoration: none !important;
    color: var(--gray-text);
}

a:visited {
    text-decoration: none !important;
    color: var(--gray-text);
}

a:hover {
    text-decoration: none !important;
    color: var(--gray-text);
}

a:active {
    text-decoration: none !important;
    color: var(--gray-text);
}

.btn_as_link {
    background-color: transparent !important;
    color: var(--dark-2) !important;
    border: 0 !important;
}

.btn_as_link u {
    font-weight: normal !important;
    font-stretch: normal !important;
    font-style: normal !important;
    line-height: 1.32 !important;
    letter-spacing: normal !important;
    text-align: left !important;
    color: var(--dark-2);
}

.elipse {
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    border: solid 1px var(--light-gray);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--gray-3);
    font-weight: bold !important;
    font-stretch: normal !important;
    font-style: normal !important;
    line-height: 1.31 !important;
    letter-spacing: normal !important;
    text-align: center !important;
    font-size: 2rem !important;
    position: relative !important;
    transition: all 0.3s linear !important;
}

.elipse span {
    position: absolute;
    color: black;
    bottom: 0;
    top: 5.5rem;
    min-width: max-content;
    font-size: 13px !important;
    letter-spacing: 0.1rem;
    transition: all 0.3s linear !important;
}

.elipse-active span {
    transition: all 0.3s linear !important;
    color: var(--red-1);
}

.hr {
    background-color: var(--light-gray);
    height: 1px;
    width: 10rem;
    transition: all 0.3s linear !important;
}

.elipse-active {
    transition: all 0.3s linear !important;
    background-color: var(--red-1);
    border: none !important;
    color: var(--white-1);
}

.step-wrap {
    transition: all 0.3s linear !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.breadcrumb_custom {
    min-width: max-content !important;
    width: 283px !important;
    height: 26px !important;
    font-family: Roboto, serif !important;
    font-size: 14px !important;
    font-weight: normal !important;
    font-stretch: normal !important;
    font-style: normal !important;
    line-height: 1.3 !important;
    letter-spacing: normal !important;
    text-align: left !important;
    color: var(--dark-1) !important;
    background-color: transparent !important;
    transition: all 0.3s linear !important;
}

img {
    max-width: 100%;
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    #navbar_nav > div {
        min-width: 100% !important;
    }
}

@media screen and (max-width: 480px) {
    #dashboard_pj {
        width: 100% !important;
        margin-right: 0 !important;
    }
}

@media screen and (max-width: 600px) {
    .authentication_container {
        width: 100% !important;
        font-size: 12px;
    }

    .btn-custom {
        width: 12rem !important;
    }
}

#navbar_nav_list {
    justify-content: center;
}

.breadcrumb_custom > .breadcrumb-item > a {
    font-family: Roboto, sans-serif;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: left;
    color: var(--dark-1);
}

.breadcrumb_custom > .breadcrumb-item:last-child > a {
    color: var(--red-1) !important;
}

@media screen and (max-width: 767px) {
    .MuiPagination-ul > li > button {
        padding: 0px !important;
    }

    .MuiPagination-ul > li {
        padding: 0px !important;
        margin: 0 !important;
    }

    #navbar_head {
        padding-right: 15px !important;
        padding-left: 15px !important;
        margin-right: auto !important;
    }

    #navbar_nav {
        font-size: 12px;
    }

    #navbar > a {
        margin-bottom: 10px !important;
    }

    #navbar_nav_list {
        padding-bottom: 10px !important;
        display: block;
        font-size: 12px !important;
        justify-content: start !important;
    }

    #navbar_nav_list > a {
        align-self: center !important;
    }

    #navbar_search {
        width: 50%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    #navbar {
        display: flex !important;
        flex-direction: column !important;
        justify-content: flex-start;
    }

    #navbar_nav #navbar .navbar-brand {
        padding-right: 15px !important;
        padding-left: 15px !important;
        margin-right: auto !important;
    }

    #navbar_nav_list a:first-child svg {
        display: none;
    }

    .logo_custom_ {
        height: 38px !important;
        min-width: auto !important;
    }

    #navbar_search button {
        margin: 0 !important;
    }

    #navbar_nav > div {
        margin-right: 0 !important;
        margin-left: 0 !important;
        width: 100% !important;
    }
}

.p-custom {
    padding: 5rem !important;
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
    .authentication_container {
        width: 75% !important;
    }
}

.pagination_custom_ui ul > li {
    border: 1px solid var(--gray-2);
    margin: 0 4px;
}

.pagination_custom_ui ul > li > div {
    border: none !important;
}

.pagination_custom_ui ul li button {
    padding: 10px;
}

.pagination_custom_ui ul li:first-child button::after {
    font-family: Roboto;
    margin-left: 10px;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: var(--dark-1);
    content: "Anterior";
}

.pagination_custom_ui ul li:last-child button::before {
    margin-right: 10px;
    font-family: Roboto;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: var(--dark-1);
    content: "Proximo";
}

#dashboard_pj {
    max-height: max-content;
    height: min-content;
    min-height: min-content;
    width: 25rem;
}

#dashboard_pj footer {
    position: relative;
    height: 15rem;
    color: var(--white-1);
}

#dashboard_pj footer img {
    position: absolute;
    bottom: 0;
    left: -61px;
}

#dashboard_pj footer h4 {
    margin: 0;
    font-weight: 800;
}

.logo_custom_ {
    height: 63px;
    min-width: min-content;
}

#lang_select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#navbar_search {
    height: 36px !important;
    min-width: fit-content !important;
}

#navbar_search input,
#input_search_boarded {
    border-bottom: 2px solid var(--red-1);
    border-left: 2px solid var(--red-1);
    border-top: 2px solid var(--red-1);
}

#navbar_nav {
    border-bottom: solid 2px var(--red-1);
}

#navbar_nav_list a:first-child.navBarDropdown {
    background-color: var(--red-1);
    color: var(--white-1) !important;
    padding: 20px 40px;
}

#navbar_nav a.navbar-brand {
    min-width: 30rem;
}

#navbar_nav_list a {
    padding: 18px;
    cursor: pointer;
}

.z-index-10 {
    z-index: 10 !important;
}

.z-index-100 {
    z-index: 100 !important;
}

.z-index-1000 {
    z-index: 1000 !important;
}

.z-index-10000 {
    z-index: 10000 !important;
}

.gridSize > div {
    width: 100% !important;
}

.h-4 {
    height: 4rem !important;
}

.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
    height: 3rem !important;
}

.authentication_container {
    width: 50%;
    min-width: 320px !important;
    max-width: 430px;
}

.product_wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-block-color: var(--gray-2) !important;
}

.product_wrap > div {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.create-icon,
.delete-icon {
    cursor: pointer !important;
    width: 4rem;
    height: 4rem;
    justify-content: center;
    display: flex;
    align-items: center;
    transition: border-radius 0.3s linear;
    transition: transform 0.4s ease-in-out;
}

.create-icon:hover,
.delete-icon:hover {
    border-radius: 2px;
}

.create-icon {
    background-color: var(--green);
}

.delete-icon {
    background-color: #e3171b;
}

.delete-icon img {
    transform: rotate(45deg);
}

#aside_footer {
    height: 13rem !important;
}

#aside_footer > div {
    position: absolute;
    left: 35%;
    bottom: 26px;
}

.product_wrap > div input {
    margin: 0;
    height: min-content;
}

.product_wrap > div p {
    box-sizing: border-box;
    min-width: max-content;
    align-self: center;
    margin: 0;
}

.product_wrap a {
    background-color: var(--red-1);
    color: var(--white-1) !important;
    border-radius: 0 !important;
    border: none !important;
    box-shadow: none !important;
    font-size: 14px !important;
    font-weight: 600 !important;
}

.product_wrap h5 {
    font-size: calc(30px * 0.75);
    width: 150px;
    height: 39px;
    font-family: Roboto;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: left;
    color: var(--red-1);
    text-align: center;
}

.product_wrap_info p {
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: var(--dark-1);
}

.product_wrap_info small {
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    color: var(--gray-3);
    font-size: 14px;
}

.product_wrap_info h2 {
    font-size: 18px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: left;
    color: var(--dark-1);
}

.page_title {
    font-weight: bold !important;
    font-stretch: normal !important;
    font-style: normal !important;
    line-height: 1.31 !important;
    letter-spacing: normal !important;
    text-align: left !important;
    color: var(--dark-1) !important;
}

.product_grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(215px, 1fr));
    grid-auto-rows: 320px;
    width: 100%;
}

a {
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #232323;
}

.authentication_container input {
    font-size: 14px !important;
}

.btn-custom {
    min-width: max-content !important;
    width: 16rem !important;
    background-color: var(--gray-2);
    color: var(--dark-1);
    font-weight: bold !important;
    font-stretch: normal !important;
    font-style: normal !important;
    line-height: 14px !important;
    letter-spacing: 0.15rem !important;
}

.actively {
    background-color: var(--red-1) !important;
    color: var(--white-1) !important;
}

.shipping_selected {
    box-shadow: 0 15px 28px 0 rgba(252, 0, 0, 0.22) !important;
    border: solid 1px var(--red-1) !important;
    color: #dedede !important;
    background-color: var(--red-1) !important;
    width: 100% !important;
    height: 10rem !important;
    border-radius: 0 !important;
    font-size: 1.5rem !important;
}

.card_selected {
    box-shadow: 0 15px 28px 0 rgba(252, 0, 0, 0.22) !important;
    border: solid 1px var(--red-1) !important;
    color: #dedede !important;
    background-color: var(--red-1) !important;
    width: 100% !important;
    height: 10rem !important;
    border-radius: 0 !important;
    font-size: 1.5rem !important;
}

.product_wrap button {
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: var(--white-1);
    border-radius: 0 !important;
    border: none !important;
}

input:not([type="checkbox"]) {
    background: var(--gray-1);
    border: 1px solid var(--gray-2);
    border-radius: 0 !important;
    height: 4rem;
    font-size: 14px;
}

input:not([type="checkbox"])::placeholder {
    font-size: 14px;
}

.invalid {
    border-color: #dc3545 !important;
    padding-right: calc(1.5em + 0.75rem) !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e") !important;
    background-repeat: no-repeat !important;
    background-position: right calc(0.375em + 0.1875rem) center !important;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem) !important;
}

.valid {
    border-color: #28a745 !important;
    padding-right: calc(1.5em + 0.75rem) !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e") !important;
    background-repeat: no-repeat !important;
    background-position: right calc(0.375em + 0.1875rem) center !important;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem) !important;
}

.bg_white {
    background-color: var(--white-1) !important;
}

.text_white {
    color: var(--white-1) !important;
}

.bg_gray {
    background-color: var(--gray-2) !important;
}

.text_gray {
    color: var(--gray-2) !important;
}

.bg_light_gray {
    background-color: var(--gray-1) !important;
}

.text_light_gray {
    color: var(--gray-text) !important;
}

.bg_dark {
    background-color: var(--dark-1) !important;
}

.text_dark {
    color: var(--dark-1) !important;
}

.popup-class {
    min-width: max-content !important;
    max-width: 80vw !important;
}

hr .bg_dark_2 {
    background: var(--dark-2) !important;
}

.text_dark_2 {
    color: var(--dark-2) !important;
}

.bg_red {
    background-color: var(--red-1) !important;
}

.text_red {
    color: var(--red-1) !important;
}

.list-group-item.text_red a {
    color: var(--red-1);
}

.list-group-item a {
    color: var(--dark-1);
}

.checkbox-round {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox-round:checked {
    background-color: gray;
}

.mb-6 {
    margin-bottom: 4rem !important;
}

.mb-7 {
    margin-bottom: 5rem !important;
}

.mb-8 {
    margin-bottom: 6rem !important;
}

.mb-9 {
    margin-bottom: 7rem !important;
}

.mb-10 {
    margin-bottom: 8rem !important;
}

.px-6 {
    padding-right: 4rem !important;
    padding-left: 4rem !important;
}

.px-7 {
    padding-right: 5rem !important;
    padding-left: 5rem !important;
}

.px-8 {
    padding-right: 6rem !important;
    padding-left: 6rem !important;
}

.px-9 {
    padding-right: 7rem !important;
    padding-left: 7rem !important;
}

.px-10 {
    padding-right: 8rem !important;
    padding-left: 8rem !important;
}

.inputChecked {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 1rem !important;
    width: 1rem !important;
    border: 1px solid black;
    border-radius: 45%;
    transition: all 0.3s linear;
}

.inputChecked:checked {
    border-radius: 100%;
    padding: 0.5px;
    background-color: var(--dark-1);
}

.pointer {
    cursor: pointer;
}

.pointer {
    transition: all 0.35s linear;
}

.select-custom {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: flex-start;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    padding-left: 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.select-custom li {
    background-color: #e3171b !important;
    min-width: max-content !important;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    font-family: Roboto;
    font-size: 1.5rem;
    border-radius: 0.15rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.select-custom li:not(:last-child) {
    margin-right: 1rem;
}

.icon-cross {
    font-weight: 400 !important;
}

#multiselectContainerReact > div:first-child {
    border: 1px solid rgb(222, 222, 222);
    background-color: rgb(247, 247, 247);
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    overflow-y: hidden;
    display: grid !important;
    grid-gap: 1rem !important;
    gap: 1rem !important;
    grid-template-columns: repeat(auto-fill, minmax(215px, 1fr)) !important;
    /*grid-auto-rows: minmax(-webkit-max-content, 420px) !important;*/
    grid-auto-rows: minmax(max-content, 24px) !important;
    width: 100% !important;
    overflow-y: auto !important;
    height: auto !important;
    min-height: min-content !important;
}

#multiselectContainerReact > div:first-child > span {
    border-radius: 2px !important;
    background-color: var(--red-1);
    font-family: Roboto, serif !important;
    font-size: 1.3rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: 0.1rem;
    text-align: left;
    color: #ffffff;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#search_input {
    height: 20px !important;
}

.optionContainer li {
    background-color: #ffffff !important;
    color: var(--red-1) !important;
    font-family: Roboto !important;
    font-size: 1rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: 0.1rem;
    text-align: left;
}

.optionContainer li:hover {
    background-color: var(--red-1) !important;
    color: #ffffff !important;
}

.SelectDefault {
    position: relative;
}

#Cor-id-4 svg {
    margin-right: 0.5rem;
}

.content-404 {
    width: 100%;
    max-width: 830px;
    margin: 80px auto 120px;
    text-align: center;
}

.title-404 {
    font-size: 15em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #b2b2b2;
    font-weight: bold;
    height: 200px;
}

.title-404 img {
    height: 162px;
    width: 162px;
}

.content-404 > p:nth-of-type(1) {
    font-size: 36px;
}

#search_input {
    width: 100% !important;
}

#navbar_nav_list a.dropDownItem {
    background-color: #fff;
    color: #666666 !important;
    padding: 10px 40px !important;
    width: auto;
}

.owl-item.active.center {
    text-align: -webkit-center !important;
}

.owl-item.active:first-child {
    display: none;
}

.image-gallery {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonSave {
    border: solid 1px var(--red-1) !important;
    color: #dedede !important;
    background-color: var(--red-1) !important;
    height: 5rem !important;
    border-radius: 0 !important;
    font-size: 1.5rem !important;
    font-weight: bold !important;
    white-space: nowrap;
    width: 100% !important;
}

.buttonSave50 {
    border: solid 1px var(--red-1) !important;
    color: #dedede !important;
    background-color: var(--red-1) !important;
    height: 3rem !important;
    border-radius: 0 !important;
    font-size: 1.5rem !important;
    font-weight: bold !important;
    white-space: nowrap;
    width: 50% !important;
}

.buttonSave70 {
    border: solid 1px var(--red-1) !important;
    color: #dedede !important;
    background-color: var(--red-1) !important;
    height: 5rem !important;
    border-radius: 0 !important;
    font-size: 1.5rem !important;
    font-weight: bold !important;
    white-space: nowrap;
    width: 70% !important;
}

.allignerCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.allignerCenterMenu {
    display: flex;
    justify-content: center;
}

.allignerBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.allignerAround {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.progress {
    height: 1.5rem;
}

.progress-bar {
    background-color: #e3171b !important;
    background-image: none;
}

.rccs__card--front,
.rccs__card--back {
    box-shadow: none !important;
}

a:hover {
    color: #e3171b !important;
}

.bannerMenu {
    color: #000 !important;
    padding: 9.8px !important;
    cursor: pointer !important;
    border-left: 1px solid #f6f6f6 !important;
    border-right: 1px solid #f6f6f6 !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    width: 95%;
}

.bannerMenuBottom {
    list-style-type: none !important;
    border-bottom: 1px solid #f6f6f6;
    height: 1px;
    text-align: center;
    margin-left: 5%;
    width: 85%;
}

.bannerMenuFinal {
    list-style-type: none !important;
    border-bottom: 1px solid #f6f6f6;
    height: 1px;
    text-align: center;
    width: 95%;
}

/* .bannerHomeSlide > .image-gallery {
    width: 665px !important;
} */

.imageGalleryProduct > .image-gallery {
    width: 400px !important;
}

.bannerCategories > .image-gallery {
    width: 120px;
}

.slideCategories {
    width: 665px;
    border: 1px solid #f6f6f6;
    padding-top: 1.35rem;
    padding-bottom: 1.35rem;
}

.bannerMenuDrop > .linkToA {
    color: var(--dark-1) !important;
    font-weight: bold;
    padding: 10px !important;
    cursor: pointer !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    width: 100%;
    flex-direction: row;
    display: flex;
    align-items: center;
}

.bannerMenuDrop > .linkToA:hover {
    color: white !important;
    background-color: var(--red-1);
    width: max-content;
}

.insideBanner > a {
    color: var(--dark-1) !important;
    font-weight: bold;
    padding: 10px !important;
    cursor: pointer !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    width: 100%;
}

.bannerAllSub > a {
    color: var(--red-1) !important;
    font-weight: bold;

    border-top: 1px solid #f6f6f6;
    padding: 10px !important;
    cursor: pointer !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    width: 100%;
}

.listTitle {
    font-size: 2rem;
}

.paddingLogo {
    padding-right: 13rem !important;
}

.imageGalleryProduct .image-gallery-image {
    height: 400px !important;
}

.paddingZero {
    padding: 0 !important;
}

.width100percent {
    width: 100% !important;
}

.heightGoodDeals {
    height: 566px !important;
}

.image-gallery-thumbnail .image-gallery-thumbnail-image {
    width: 114px !important;
    height: 114px !important;
}

.titleCategory {
    font-size: 24px;
    color: var(--dark-1);
    border-bottom: 2px solid #e3171b;
    display: inline-block;
    line-height: 48px;
    box-sizing: border-box;
    padding: 0 15px;
    margin: 0 !important;
}

.slideRelated > .slick-slider > .slick-list > .slick-track {
    display: inherit !important;
}

.bannerSlide,
.bannerCategoriesHome {
    padding: 0;
}

.bannerRight {
    width: 185px;
    height: 280px;
}

.paddingRightDesktop {
    padding-right: 3rem !important;
}

.paddingLeftDesktop {
    padding-left: 3rem !important;
}

.imgHome {
    width: 100%;
    height: 30rem;
}

.imgSizeHome {
    width: 100%;
    object-fit: contain;
    height: 25rem;
}

.imgHomeLittle {
    width: 100%;
    height: 27rem;
}

.imgSizeHomeLittle {
    width: 100%;
    height: 18rem;
}

.imgBannerRight {
    width: 185px;
    height: 285px;
    padding-top: 1.2rem;
}

.borderProduct {
    border: 1px solid #dedede;
}

.imageRelated {
    width: 250px;
    height: 250px;
    cursor: pointer;
}

.buttonGrid {
    margin-top: 2rem;
}

.buttonMenuDrop {
    background-color: var(--red-1);
    color: #fff !important;
    padding-left: 50px !important;
    padding-right: 50px !important;
    width: 27rem;
}

.buttonMenuDrop:hover,
.buttonMenuDrop:active {
    color: #fff !important;
}

.menuTitle > a {
    color: #000;
}

.selectedCard {
    cursor: default !important;
    pointer-events: none !important;
    background-color: transparent !important;
    color: var(--green-3) !important;
    border: 0 !important;
    height: 5rem;
    border-radius: 0;
    font-size: 1.5rem !important;
    font-weight: bold;
    white-space: nowrap;
}

.heightFeedback {
    height: 15em;
}

.scrollTop {
    display: flex;
    height: 30px !important;
    position: fixed;
    width: 40px;
    bottom: 20px;
    align-items: flex-end;
    justify-content: flex-end;
    z-index: 1000;
    cursor: pointer;
    animation: fadeIn 0.3s;
    transition: opacity 0.4s;
    opacity: 0.5;
    right: 35px;
}

.scrollTop:hover {
    opacity: 1;
}

.containermenuMobile {
    display: flex;
    flex-direction: row;
    color: #000;
    cursor: pointer;
    width: 95%;
}

.rowMenuMobile {
    width: 100%;
    font-size: 12px;
    background-clip: border-box;
    border-top: 2px solid #f6f6f6;
    border-left: 2px solid #f6f6f6;
    border-right: 2px solid #f6f6f6;
    border-bottom: 2px solid #f6f6f6;
    margin: 0 !important;
}

.colMenuMobile {
    color: #000;
    padding: 6.5px 0 6.5px 12px;
    cursor: pointer;
    width: 100%;
    background-clip: border-box;
    border-bottom: 2px solid #f6f6f6;
    text-align: center;
    margin: 0 !important;
}

.colMenuMobileActive {
    color: #fff;
    background: var(--red-1);
    padding: 6.5px 0px 6.5px 12px;
    cursor: pointer;
    width: 100%;
    background-clip: border-box;
    border-bottom: 2px solid #f6f6f6;
    border-bottom-style: solid;
    text-align: center;
    margin: 0 !important;
}

.colSubMenuMobile {
    padding: 6.5px 0px 6.5px 12px;
    cursor: pointer;
    width: 100%;
    background-clip: border-box;
    border-bottom: 0.5px solid #fff;
    border-top: 0.5px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom-style: solid;
    text-align: center;
    margin: 0 !important;
    background: #f6f6f6;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.75);
}

.colSubMenuMobile.allSub > a,
.colMenuMobile.allSub > a {
    color: var(--red-1) !important;
}

.colSubMenuMobile > a,
.colMenuMobile > a {
    color: var(--dark-1) !important;
}

.title-product.titleHome a {
    text-align: center !important;
}

.removeOption {
    color: var(--red) !important;
    font-weight: bold !important;
    width: 100%;
    border-radius: 0 !important;
    border: 1px solid rgba(0, 0, 0, 0.125) !important;
}

.removeOption:hover {
    background-color: var(--red) !important;
    color: white !important;
}

.editOption {
    color: var(--dark-2);
    font-weight: bold !important;
    width: 100%;
    border-radius: 0 !important;
    border: 1px solid rgba(0, 0, 0, 0.125) !important;
}

.editOption:hover {
    color: white !important;
}

.rectEdit {
    height: 100%;
    width: 0.5rem;
    background-color: var(--red);
    margin-right: 0.5rem;
}

.textCardAddressRequest {
    font-size: 1.75rem;
    color: #757575;
}

.redButtonOutline {
    border: solid 1px var(--red-1) !important;
    color: var(--red-1) !important;
    height: 3rem;
    border-radius: 0 !important;
    font-size: 1.5rem !important;
    font-weight: bold !important;
    white-space: nowrap !important;
    width: 70% !important;
}

.redButtonOutline100 {
    background-color: transparent !important;
    border: solid 1px var(--red-1) !important;
    color: var(--red-1) !important;
    height: 4rem;
    border-radius: 0 !important;
    font-size: 1.5rem !important;
    font-weight: bold !important;
    white-space: nowrap !important;
    width: 100% !important;
}

.redButtonOutline:hover,
.redButtonOutline100:hover,
.buttonFrete:hover {
    background-color: var(--red-1) !important;
    color: white !important;
}

.dark2ButtonOutline {
    border: solid 1px var(--dark-1) !important;
    color: var(--dark-1) !important;
    height: 3rem;
    border-radius: 0 !important;
    font-size: 1.5rem !important;
    font-weight: bold !important;
    white-space: nowrap !important;
    width: 70% !important;
}

.dark2ButtonOutline100 {
    background-color: transparent !important;
    border: solid 1px var(--dark-1) !important;
    color: var(--dark-1) !important;
    height: 4rem;
    border-radius: 0 !important;
    font-size: 1.5rem !important;
    font-weight: bold !important;
    white-space: nowrap !important;
    width: 100% !important;
}

.dark2ButtonOutline:hover,
.dark2ButtonOutline100:hover {
    background-color: var(--dark-1) !important;
    color: white !important;
}

.dark2ButtonOutline:disabled,
.dark2ButtonOutline100:disabled {
    border: solid 1px #aaaaaa !important;
    color: #aaaaaa !important;
}

.buttonFrete {
    border: solid 1px var(--red-1) !important;
    color: var(--red-1) !important;
    height: 4rem;
    border-radius: 0 !important;
    font-size: 1.5rem !important;
    font-weight: bold !important;
    white-space: nowrap !important;
    width: 1rem !important;
}

.addPhotoAllign > span {
    display: block !important;
}

.buttonAddImage {
    width: 250px !important;
    height: 250px !important;
    cursor: pointer !important;
}

.adjustLinkTo > .linkToA {
    width: 70%;
    justify-content: center;
    display: contents;
}

.logoUser,
.logoUserNotLogged {
    height: 4rem !important;
    width: 4rem !important;
}

.logoMaria {
    height: 12rem !important;
    width: 20rem !important;
}

.imageAddress {
    width: 50%;
}

.isMobile {
    display: none;
}

.paddingBottomAside {
    padding-bottom: 3rem;
}

.marginTopLinkAside {
    margin-top: 3rem;
}

.marginBottomLinkAside {
    margin-top: 5rem;
}

.displayFlex {
    display: flex;
}

.contentApp {
    flex: 1 0 auto;
}

.footerApp {
    flex-shrink: 0;
}

#__next {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.counterCart {
    height: 1px;
    margin-left: -8px;
    margin-top: -5px;
}

.outer {
    display: grid !important;
    grid-template: 1fr / 1fr !important;
    place-items: center !important;
}

.outer > * {
    grid-column: 1 / 1 !important;
    grid-row: 1 / 1 !important;
}

.outer .below {
    z-index: 2 !important;
}

.outer .top {
    z-index: 1 !important;
}

.spinnerLoader {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    background: #000;
    width: 100%;
    height: 100%;
    z-index: 1051;
    top: 0;
    left: 0;
    position: fixed;
}

.mb-2.mb-md-4.displayFlex.flex-row.w-100.showAboveTablet > .linkToA {
    display: flex;
    width: 100%;
}

.divGoTo {
    justify-content: flex-end;
    display: flex;
}

.logo-safe2pay {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -2rem;
}
.footer-red {
    background-color: var(--red-1);
    color: #fff;
}

.buttonPaginationActive,
.buttonPagination:hover {
    position: relative !important;
    padding: 6px 12px !important;
    margin-left: -1px !important;
    line-height: 1.42857143 !important;
    color: #ddd !important;
    text-decoration: none !important;
    background-color: rgb(235, 26, 33) !important;
    border: 1px solid rgb(235, 26, 33) !important;
}

.buttonPagination {
    position: relative !important;
    float: left !important;
    padding: 6px 12px !important;
    margin-left: -1px !important;
    line-height: 1.42857143 !important;
    color: rgb(235, 26, 33) !important;
    text-decoration: none !important;
    background-color: #fff !important;
    border: 1px solid #ddd !important;
}

.barCategory {
    margin-bottom: 30px !important;
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
    border: 1px solid #dedede;
    box-sizing: border-box;
}
.titleCategory {
    font-size: 24px;
    color: #2b2b2b;
    border-bottom: 2px solid #e3171b;
    display: inline-block;
    line-height: 48px;
    box-sizing: border-box;
    padding: 0 15px;
    margin: 0 !important;
}
.rightCategoryBar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    float: right;
}
.rightCategoryBar p {
    font-size: 15px;
    margin: 0px 15px 0 0;
}
.rightCategoryBar p,
.rightCategoryBar a {
    color: #2b2b2b;
}
.rightCategoryBar a {
    font-size: 22px;
    margin: 0 0 0 5px;
}
.rightCategoryBar > * {
    line-height: 50px;
}

.rightCategoryBar a:hover,
.active-view-bar {
    text-decoration: none;
    color: #e3171b !important;
}

.text_yellow {
    color: yellow;
}
.text_yellow:hover,
.text_yellow:active {
    color: var(--dark-2);
}
.linkToA > .linkSub {
    border: none;
    color: var(--dark-2);
}
.linkToA:hover > .linkSub {
    color: white !important;
    background-color: var(--red-1);
    width: max-content;
}
.text-icon-footer {
    position: absolute;
    bottom: -0.2rem;
}
a:hover > .icons-footer,
a:hover > .text-icon-footer {
    color: var(--dark-2) !important;
}
.text_blue{
    color: #224c92!important;
}
ul.about li{
    position: relative;
    font-size: 2rem;/* Add content: \2022 is the CSS Code/unicode for a bullet */
    /*color: #224c92!important; !* Change the color *!*/
    padding-left: 4rem;
    font-weight: bold;
}
ul.about li::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "\2022";
    font-size: 4rem;/* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: black!important; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 4rem; /* Also needed for space (tweak if needed) */
}
/* Celular pra baixo */
@media (max-width: 767.98px) {
    .showAbovePhone {
        display: none !important;
    }

    #navbar_search {
        width: 100% !important;
    }
    .scrollTop {
        right: 10px;
    }
    .divGoTo > .linkToA {
        width: auto !important;
        padding: 15px !important;
        padding-top: 9px !important;
        padding-bottom: 9px !important;
    }
    .paddingPhone {
        padding: 0 !important;
    }
}

/* Pra cima de celular */
@media (min-width: 767.99px) {
    .showPhoneAndLess {
        display: none !important;
    }

    #navbar_search {
        width: 50% !important;
    }
}

/* De tablet pra baixo */
@media (max-width: 991.98px) {
    .rowUseCard {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .colSavedCard {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .heightBoxSales {
        height: 25rem !important;
    }

    .container {
        width: 100% !important;
        max-width: 100% !important;
    }

    .logoMaria {
        height: 10rem !important;
        width: 17rem !important;
    }

    .divAvatarNotLogged {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .divImageLogged {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .divMenuHeaderLogged {
        justify-content: center;
        align-items: center;
    }

    .rowMainNewSign {
        width: 100% !important;
    }

    .counterCart {
        margin-top: -40px;
    }

    .showAboveTablet {
        display: none !important;
    }
}

/* Maior que tablet*/
@media (min-width: 991.99px) {
    .colSavedCard {
        display: flex;
        flex-direction: row;
    }
    .heightBoxSales {
        height: 100% !important;
    }

    .showTabletAndLess {
        display: none !important;
    }

    .containerHeader {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .navbarHeader {
        margin-bottom: 1.5rem !important;
        justify-content: space-between !important;
    }

    .logoUserNotLogged {
        margin-right: 0.5rem;
        margin-left: 0.5rem;
    }

    .logoUser {
        margin-right: 1.5rem;
    }

    .bLogoUser {
        margin-right: auto;
    }

    .divMenuHeaderLogged {
        justify-content: left;
        align-items: flex-start;
        margin-right: auto;
    }

    .rowStepsNewSign {
        width: 50% !important;
    }

    .pProductCategory {
        display: inline-block;
    }
}

/* Very small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .menuFixedHome {
        display: none !important;
    }

    .paddingLogo {
        padding: 0 !important;
    }

    #navbar {
        padding-top: 2rem !important;
        padding-bottom: 2rem !important;
        width: 100%;
    }

    .titleAsideMobile {
        font-size: 2rem;
    }

    .isNotMobile {
        display: none !important;
    }

    .isMobile {
        display: unset !important;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .menuFixedHome {
        display: none !important;
    }

    .cardBody {
        padding: 0 !important;
    }

    .slideCategories {
        width: 100%;
    }

    .bannerRight {
        width: 170px;
        flex: 0 auto !important;
    }

    /* .displayContentMobile {
        display: flex;
        justify-content: space-around;
    } */
    .noneMobile {
        display: none;
    }

    .paddingRightDesktop {
        padding-right: 15px !important;
    }

    .paddingLeftDesktop {
        padding-left: 15px !important;
    }

    .imgHome {
        width: 100%;
        height: 34rem;
    }

    .imgHomeLittle {
        width: 100%;
        height: 30rem;
    }

    .slideProducts {
        width: 100%;
    }

    .mobileDisplay {
        display: contents;
    }

    .marginMobile {
        margin-bottom: 5rem;
    }

    .paddingTablet {
        padding-top: 0 !important;
    }

    .bannerTablet {
        width: 100%;
    }

    .effect-hover-boxshadow {
        margin-bottom: 20px;
    }

    .price-product {
        text-align: center;
    }

    .widthMobileProductsCategory {
        width: 100% !important;
    }

    .paddingMobileCategory {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    .titleProductCategory a {
        text-align: center;
    }

    .noOverflow {
        overflow: hidden;
    }

    .buttonGrid {
        height: 3rem !important;
        margin-top: 2.5rem;
        width: 100%;
    }

    #multiselectContainerReact > div:first-child {
        grid-template-columns: repeat(auto-fill, minmax(188px, 1fr)) !important;
    }

    .buttonMenuDrop {
        width: 100%;
    }

    #navbar_nav_list {
        padding-bottom: 0 !important;
    }

    .isNotMobile {
        display: none !important;
    }

    .isMobile {
        display: unset !important;
    }

    .paddingBottomAside {
        padding-bottom: 1.5rem !important;
    }

    .marginTopLinkAside {
        margin-top: 1.5rem !important;
    }

    .marginBottomLinkAside {
        margin-top: 0rem;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 767.99px) and (max-width: 991.98px) {
    /* .menuFixedHome {
        display: none !important;
    } */
    .slideCategories {
        width: 114%;
    }

    .heightGoodDeals {
        height: auto !important;
    }

    .paddingTablet {
        padding-top: 5px !important;
    }

    .border-collapsed-box {
        display: flex !important;
    }

    .bannerRight {
        width: 185px;
        height: 212px;
    }

    .imgBannerRight {
        width: 185px;
        height: 200px;
    }

    .bannerTablet {
        width: 114%;
    }

    .side-bar-category {
        overflow: auto;
    }

    .buttonGrid {
        height: 3rem !important;
        margin-top: 2.5rem;
        width: 100%;
    }

    .heightFeedback {
        height: 18.5em;
    }

    .imageAddress {
        display: none;
    }

    .dontShowOnTablet {
        display: none !important;
    }

    .showOnTablet {
        display: unset;
    }

    .navbarHeader {
        justify-content: space-between !important;
    }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    .paddingTablet {
        padding-top: 0 !important;
    }

    .heightGoodDeals {
        height: auto !important;
    }

    .imageAddress {
        display: none;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .paddingTablet {
        padding-top: 0 !important;
    }
}
