.cardText {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    color: #757575;
    align-items: center;
    justify-content: center;
}

.cardName {
    margin-bottom: 0.75rem;
    font-size: 1.5rem;
    color: #2b2b2b;
    font-weight: bold !important;
}

.alignerAround {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardBody {
    padding-top: 3rem !important;
    padding-left: 3rem !important;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}
.buttonDelete {
    border: transparent;
    color: black;
    background-color: transparent;
    height: 5rem;
    border-radius: 0;
    font-size: 1.5rem;
    font-weight: bold;
    white-space: nowrap;
}

.cardTextPrincipalAddress {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    color: green;
    align-items: center;
    justify-content: center;
}

.cardTextListAddress {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    color: red;
    align-items: center;
    justify-content: center;
}

.cardTextListAddress:hover {
    cursor: pointer;
    font-size: 1.6rem;
}

.circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 10px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .cardBody {
        padding: 0 !important;
    }
}
