.cardText {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    color: #757575;
    align-items: center;
    justify-content: center;
}

.cardName {
    margin-bottom: 0.75rem;
    font-size: 1.5rem;
    color: #2b2b2b;
    font-weight: bold !important;
}

.alignerAround {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardBody {
    padding-top: 3rem !important;
    padding-left: 3rem !important;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
}
