.aligner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.alignCenter {
    max-width: 50%;
}

.addLine {
    color: #232323;
    background-color: var(--gray-2);
    border: solid 1px #dedede;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 0;
}

.tableSheetLeft {
    border: solid 1px #707070 !important;
    background-color: #e3171b;
    color: #f7f7f7;
    text-align: center;
    width: 50%;
    padding: 0 !important;
}
.tableSheetRight {
    border: solid 1px #707070 !important;
    background-color: #f5f5f5;
    color: #2b2b2b;
    text-align: center;
    width: 50%;
    padding: 0 !important;
    margin-bottom: 0 !important;
}

.tableButton {
    border-top: 0px !important;
    padding: 0 !important;
}
.inputLeft {
    margin-bottom: 0 !important;
}
.inputRight {
    margin-bottom: 0 !important;
}
.inputLeft > input {
    background-color: #e3171b !important;
    color: #f7f7f7 !important;
    width: 100%;
    border: 0 !important;
    text-align: center;
}

.inputRight > input {
    background-color: #f5f5f5 !important;
    color: #2b2b2b !important;
    width: 100%;
    border: 0 !important;
    text-align: center;
}

.removeLine {
    color: #232323;
    font-weight: bolder;
    border: solid 1px #dedede;
    background-color: var(--gray-2);
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 0;
    margin-top: 1px;
    margin-left: 5px;
}

.removeLine:hover,
.addLine:hover {
    background-color: var(--red-1);
}

.sendFile > div {
    padding: 0 !important;
    border: 0 !important;
}
.sendFile > div > div:first-child {
    width: 100% !important;
    height: 5rem !important;
    border-radius: 0 !important;
}

.sendFile > div > div:first-child > div:nth-child(2) > span:first-child {
    display: none;
}
