.buttonSave {
  border: solid 1px var(--red-1) !important;
  color: #dedede !important;
  background-color: var(--red-1) !important;
  height: 5rem !important;
  border-radius: 0 !important;
  font-size: 1.5rem !important;
  font-weight: bold !important;
  white-space: nowrap;
}
