.deliveryType {
    border: solid 1px #dedede;
    background-color: #ffffff;
    color: #757575;
    min-height: max-content !important;
    width: 100%;
    height: 5rem;
    border-radius: 0 !important;
    font-size: 1.5rem !important;
    white-space: normal !important;
    font-weight: bold !important;
}
.paymentType {
    border: solid 1px #dedede;
    background-color: #ffffff;
    color: #757575;
    min-height: max-content !important;
    width: 100%;
    height: 3rem;
    border-radius: 0 !important;
    font-size: 1.5rem !important;
    white-space: normal !important;
    font-weight: bold !important;
}

.checkmark {
    position: absolute;
    right: 0;
    top: calc(calc(calc(22 * 0.08rem) / 2) * -1);
    display: inline-block;
    width: calc(22 * 0.152rem);
    height: calc(22 * 0.152rem);
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.checkmark_stem {
    position: absolute;
    width: calc(3 * 0.152rem);
    height: calc(9 * 0.152rem);
    background-color: #e3171b;
    left: calc(11 * 0.152rem);
    top: calc(6 * 0.152rem);
}

.checkmark_kick {
    position: absolute;
    width: calc(3 * 0.152rem);
    height: calc(3 * 0.152rem);
    background-color: #e3171b;
    left: calc(8 * 0.152rem);
    top: calc(12 * 0.152rem);
}

.active {
    box-shadow: 0 15px 28px 0 rgba(252, 0, 0, 0.22) !important;
    border: solid 1px var(--red-1) !important;
    color: #dedede !important;
    background-color: var(--red-1) !important;
}

.alignerAround {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.confirmPayment {
    border: solid 1px var(--red-1) !important;
    color: #dedede !important;
    background-color: var(--red-1) !important;
    width: 30% !important;
    height: 5rem !important;
    border-radius: 0 !important;
    font-size: 1.5rem !important;
    font-weight: bold !important;
    white-space: nowrap;
}

.cardCol {
    margin-bottom: 2rem;
}

.cardCol > div {
    margin: 0 !important;
}

.cardText {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    color: #757575;
    align-items: center;
    justify-content: center;
}

.cardName {
    margin-bottom: 0.75rem;
    font-size: 1.5rem;
    color: #2b2b2b;
    font-weight: bold !important;
}

.alignerAround {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardBody {
    padding-top: 3rem !important;
    padding-left: 3rem !important;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

@media (max-width: 991.98px) {
    .deliveryType {
        width: 100%;
        height: 5rem;
    }
}
