.countButtonLeft {
    border: 1px transparent solid !important;
    background-color: transparent !important;
    color: #232323 !important;
    font-size: 2.5rem !important;
    width: 3rem !important;
}
.countButtonLeft:active,
.countButtonLeft:focus,
.countButtonRight:active,
.countButtonRight:focus {
    box-shadow: 0 0 0 0.2rem var(--red-1) !important;
}
.countButtonRight {
    border: 1px transparent solid !important;
    background-color: transparent !important;
    color: #232323 !important;
    font-size: 2.5rem !important;
    width: 3rem !important;
}

.count {
    border: 1px transparent solid !important;
    background-color: transparent !important;
    color: #232323 !important;
    font-size: 2rem !important;
    pointer-events: none;
}

.days {
    border: 1px transparent solid !important;
    background-color: transparent !important;
    color: #232323 !important;
    font-size: 1.2rem !important;
    pointer-events: none;
}

.delete {
    border: 1px transparent solid !important;
    background-color: transparent !important;
    color: #757575 !important;
    font-size: 1.5rem !important;
}
.delete:active,
.delete:focus {
    box-shadow: 0 0 0 0.2rem var(--red-1) !important;
}

.price {
    border: 1px transparent solid !important;
    background-color: transparent !important;
    color: var(--red-1) !important;
    font-size: 2rem !important;
    pointer-events: none;
    overflow-wrap: break-word !important;
}

.freight {
    border: 1px transparent solid !important;
    background-color: transparent !important;
    color: black !important;
    font-size: 1.5rem !important;
    pointer-events: none;
    overflow-wrap: break-word !important;
}


.colPrice {
    padding-top: 3rem;
}

.colName {
    padding-top: 2rem;
}

.colFreight {
    padding-top: 0;
}
.colCount {
    padding-top: 2rem;
}

.alignerEnd {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.buttonContinue {
    border: solid 1px #dedede;
    background-color: #f7f7f7;
    color: #757575;
    width: 100%;
    height: 4rem;
    font-size: 1.5rem;
}

.buttonContinue:hover,
.buttonContinue:active {
    color: #dedede;
    background-color: var(--red-1);
}

.imageSize {
    height: 110px;
    width: 110px;
}

@media (max-width: 991.98px) {
    .colName {
        padding-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .imageSize {
        width: 100%;
    }
}
