.dashedBoarded {
    border: dashed 1px #DEDEDE !important;
    padding: 4rem;
    cursor: pointer !important;
    position: relative;
    height: 19rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%!important;
    opacity: 0;
    overflow: hidden;
    position: absolute;
}