.price {
    border: 1px transparent solid !important;
    background-color: transparent !important;
    color: var(--red-1) !important;
    font-size: 1.8rem !important;
    pointer-events: none;
}

.freightMobile {
    border: 1px transparent solid !important;
    background-color: transparent !important;
    color: black !important;
    font-size: 1.8rem !important;
    pointer-events: none;
}

.count {
    border: 1px transparent solid !important;
    background-color: transparent !important;
    color: #232323 !important;
    font-size: 1.8rem !important;
    pointer-events: none;
}

.jumbo {
    padding: 1rem 1.5rem 2rem !important;
    height: 95% !important;
    border-radius: 0 !important;
}

.alignerAround {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttonBuy {
    border: solid 1px var(--red-1) !important;
    color: #dedede !important;
    background-color: var(--red-1) !important;
    width: 100% !important;
    height: 6rem !important;
    font-size: 2rem !important;
    border-radius: 0 !important;
}

.buttonContinue {
    border: solid 1px #dedede;
    background-color: #f7f7f7;
    color: #757575;
    width: 100%;
    height: 4rem;
    font-size: 1.5rem;
}

.buttonContinue:hover, .buttonContinue:active {
    color: #dedede;
    background-color: var(--red-1);
}

@media (max-width: 991.98px) {
    .jumbo {
        padding: 1rem 1.5rem !important;
    }
}