.cardText {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    color: #757575;
}

.cardName {
    margin-bottom: 0.75rem;
    font-size: 1.5rem;
    color: #2b2b2b;
    font-weight: bold !important;
}

.editAddress {
    border: solid 1px var(--red-1) !important;
    color: #dedede !important;
    background-color: var(--red-1) !important;
    width: 30% !important;
    height: 5rem !important;
    border-radius: 0 !important;
    font-size: 1.5rem !important;
    font-weight: bold !important;
    white-space: nowrap;
}

.alignerAround {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.cardBody {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100% !important;
    transition: all linear 500ms !important;
}

.cardModal {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
    display: unset;
    align-items: center;
    justify-content: flex-start;
    height: 100% !important;
    transition: all linear 500ms !important;
}

.cardBody:hover,
.cardModal:hover {
    border: 1px solid rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 6px 3px 5px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 6px 3px 5px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 6px 3px 5px 0 rgba(0, 0, 0, 0.1);
}

.deliveryType {
    border: solid 1px #dedede;
    background-color: #ffffff;
    color: #757575;
    width: 100% !important;
    height: 10rem !important;
    border-radius: 0 !important;
    font-size: 1.5rem !important;
    white-space: normal !important;
}

.editAddressModal {
    position: relative !important;
    z-index: 1000000 !important;
    width: 100% !important;
    margin-top: 2rem;
    border: solid 1px var(--red-1) !important;
    color: #dedede !important;
    background-color: var(--red-1) !important;
    border-radius: 0 !important;
    font-size: 1.5rem !important;
    font-weight: bold !important;
    white-space: nowrap;
}

.checkmark {
    position: absolute;
    right: 0;
    top: calc(calc(calc(22 * 0.08rem) / 2) * -1);
    display: inline-block;
    width: calc(22 * 0.152rem);
    height: calc(22 * 0.152rem);
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.checkmark_stem {
    position: absolute;
    width: calc(3 * 0.152rem);
    height: calc(9 * 0.152rem);
    background-color: #e3171b;
    left: calc(11 * 0.152rem);
    top: calc(6 * 0.152rem);
}

.checkmark_kick {
    position: absolute;
    width: calc(3 * 0.152rem);
    height: calc(3 * 0.152rem);
    background-color: #e3171b;
    left: calc(8 * 0.152rem);
    top: calc(12 * 0.152rem);
}

.cardWrap {
    display: grid !important;
    gap: 1rem !important;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr)) !important;
    grid-auto-rows: 240px !important;
    width: 100% !important;
}

.mary {
    right: 52vw !important;
    bottom: 0 !important;
    position: absolute;
    z-index: 1050 !important;
    height: 53rem;
}

.cardAddress {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalHeader {
    border-bottom-color: transparent;
}

.modalHeader span {
    font-size: 4rem !important;
}

.modalHeader button {
    padding-top: 0 !important;
}

.modalAddress {
    max-width: 80vw;
    height: 75vh;
}

@media (max-width: 991.98px) {
    .modalAddress {
        max-width: 100%;
        height: auto;
    }
}
