.aligner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.alignCenter {
    max-width: 50%;
}

.buttonLeft {
    background-color: #e3171b !important;
    color: #f7f7f7 !important;
    font-weight: bolder !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    border-radius: 0 !important;
    width: 30%;
}

.buttonRight {
    background-color: transparent !important;
    color: #232323 !important;
    border: transparent !important;
    font-weight: bolder !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    border-radius: 0 !important;
}

.buttonRight:hover {
    background-color: unset !important;
    color: unset !important;
    font-weight: bolder !important;
}

.cardPrincipal {
    margin-top: 15rem;
    border: 1px solid var(--unnamed-color-dedede);
    border: 1px solid #dedede;
    border-radius: 20px;
    opacity: 1;
}

.imgMary {
    position: absolute;
    left: -185px;
    top: -132px;
    height: 30rem;
}

.imgMaryMobile {
    position: absolute;
    left: -105px;
    top: -22px;
    height: 22rem;
}

.textOne {
    color: #232323;
}

.textTwo {
    color: #939393;
    text-align: center;
}
.feedbackSign {
    width: 60rem;
}

@media (max-width: 575.98px) {
    .imgMaryMobile {
        left: -83px;
        top: 59px;
        height: 14rem;
    }
    .feedbackSign {
        width: 34rem;
    }
}
@media (max-width: 991.98px) {
    .cardPrincipal {
        margin-top: 10rem;
    }
}

@media (min-width: 575.99px) and (max-width: 991.98px) {
    .feedbackSign {
        width: 45rem;
    }
}

.textTermofUse {
    font-size: 14px !important;
    line-height: 14px !important;
    color: var(--red-1) !important;
}
.modalHeader {
    border-bottom-color: transparent;
}

.modalHeader span {
    font-size: 4rem !important;
}

.modalHeader button {
    padding-top: 0 !important;
}
.modalAddress {
    max-width: 80vw;
    height: 75vh;
}

@media (max-width: 991.98px) {
    .modalAddress {
        max-width: 100%;
        height: auto;
    }
}
