.colNamePrice {
    padding-top: 1rem;
    max-height: 12rem;
}

.count {
    border: 1px transparent solid !important;
    background-color: transparent !important;
    color: #232323 !important;
    font-size: 2rem !important;
    pointer-events: none;
}

.nameProduct {
    border: 1px transparent solid !important;
    background-color: transparent !important;
    color: #232323 !important;
    font-size: 2rem !important;
    pointer-events: none;
    white-space: normal;
    width: 100%;
}

.price {
    border: 1px transparent solid !important;
    background-color: transparent !important;
    color: var(--red-1) !important;
    font-size: 2rem !important;
    pointer-events: none;
}

.priceDetails {
    border: 1px transparent solid !important;
    background-color: transparent !important;
    color: var(--red-1) !important;
    font-size: 2rem !important;
    pointer-events: none;
    width: 100%;
}

.imgCart {
    max-height: 12rem;
}

.jumbo {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
    padding-bottom: 2rem !important;
    padding-top: 1rem !important;
    height: 95% !important;
    border-radius: 0 !important;
    background-color: #f7f7f7 !important;
}
.alignerAround {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.priceDelivery {
    border: 1px transparent solid !important;
    background-color: transparent !important;
    color: #c8c8cb !important;
    font-size: 1.8rem !important;
    pointer-events: none;
}

.total {
    border: 1px transparent solid !important;
    background-color: transparent !important;
    color: #232323 !important;
    font-size: 2rem !important;
    pointer-events: none;
    font-weight: bold;
}

.labelDelivery {
    color: #c8c8cb !important;
}
